{% extends 'base.html' %}

{% block title %}
admin page
{% endblock %}

{% block content %}

	<form method="POST">
		<h2>Hello, {{ current_user.name }}</h2>

		{{ form.hidden_tag() }}

		{{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }}<br>
		{{ form.name.label(class="form-label") }} {{ form.name(class="form-control") }}<br>
		{{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}<br>
		{{ form.cnf_password.label(class="form-label") }} {{ form.cnf_password(class="form-control") }}<br>
		{{ form.submit }}

	</form>


{% endblock %}