<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Admin panel</title>

	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	        crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ url_for('admin_panel.main') }}">Admin panel</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link active" aria-current="page"
				                        href="{{ url_for('admin_panel.info') }}">Info</a></li>

				{% if current_user.is_authenticated %}
					<li class="nav-item"><a class="nav-link" href="{{ url_for('admins.admin') }}">Admin</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('admins.logout') }}">Logout</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('structure.structure') }}">Structure</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Elements</a></li>
					{% else %}
					<li class="nav-item"><a class="nav-link" href="{{ url_for('admins.register') }}">Register</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('admins.login') }}">Login</a></li>
				{% endif %}
			</ul>

		</div>
	</div>
</nav>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for msg in messages %}

			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>Alert!</strong> {{ msg }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>


		{% endfor %}
	{% endif %}
{% endwith %}

<div class="container py-4">
	<div class="p-5 mb-4 bg-light rounded-3">
		{% block content %}
		{% endblock %}
	</div>
</div>


</body>
</html>