{% extends 'base.html' %}

{% block content %}

	<h1>Course:</h1>
	<p>{{ course }}</p>

	<form method="POST">
		{{ name_form.hidden_tag() }}
		{{ name_form.name.label(class="form-label") }} {{ name_form.name(class="form-control") }}
		{{ name_form.update }}

	</form>

	<form method="POST">
		{{ button_delete.hidden_tag() }}
		<div class="d-grid gap-2">
			{{ button_delete.delete(class="btn btn-danger") }}
		</div>
	</form>

	<h3>Topics:</h3>
	{% for topic in topics %}

		<ul>
			<li>
				<a href="{{ url_for('structure.topic', topic_id=topic.id) }}">{{ topic }}</a>
			</li>
		</ul>

	{% endfor %}

	<form method="POST">
		{{ button_add.hidden_tag() }}
		<div class="d-grid gap-2">
			{{ button_add.add(class="btn btn-primary") }}
		</div>
	</form>


{% endblock %}