{% extends 'base.html' %}

{% block title %}
	course
{% endblock %}

{% block content %}

	<h1 class="display-5 fw-bold">Course</h1>
	<p>{{ course }}</p>

	<form method="POST">
		{{ name_form.hidden_tag() }}
		{{ name_form.name.label(class="form-label") }} {{ name_form.name(class="form-control") }}
		{{ name_form.update }}

	</form>

	<form method="POST">
		{{ button_delete.hidden_tag() }}
		<div class="d-grid">
			{{ button_delete.delete(class="btn_del") }}
		</div>
	</form>

	<p class="display-6"> Topics:</p>
	<div class="list-group">
		{% for topic in topics %}
			<a href="{{ url_for('structure.topic', topic_id=topic.id) }}"
			   class="list-group-item list-group-item-action">{{ topic }}</a>
		{% endfor %}
	</div>
	<br>

	<form method="POST">
		{{ button_add.hidden_tag() }}
		<div class="d-grid gap-2">
			{{ button_add.add(class="btn btn_add") }}
		</div>
	</form>


{% endblock %}