{% extends 'base.html' %}
{% block title %}
	language
{% endblock %}

{% block content %}

	<div class="header">
		<form method="POST">
			{{ back_btn.hidden_tag() }}
			<div class="back-btn-box">
				{{ back_btn.back(class="back-btn-small") }}
			</div>
		</form>
		<div class="header-text">
			<h1 class="display-5 fw-bold">Language</h1>
			<p>{{ lang }}</p>
		</div>
	</div>

	<form method="POST">
		{{ name_form.hidden_tag() }}
		{{ name_form.name.label(class="form-label") }}
		{{ name_form.name(class="form-control") }}
		{{ name_form.update }}
	</form>

	<form method="POST">
		{{ button_delete.hidden_tag() }}
		<div class="d-grid">
			{{ button_delete.delete(class="btn_del") }}
		</div>
	</form>

	<p class="display-6"> Courses:</p>
	<div class="list-group">
		{% for course in courses %}
			<a href="{{ url_for('structure.course', course_id=course.id) }}"
			   class="list-group-item list-group-item-action">{{ course }}</a>
		{% endfor %}
	</div>
	<br>

	<form method="POST">
		{{ button_add.hidden_tag() }}
		<div class="d-grid">
			{{ button_add.add(class="btn btn_add") }}
		</div>
	</form>



{% endblock %}