{% extends 'base.html' %}
{% block title %}
	language
{% endblock %}

{% block content %}

	<h1>Language:</h1>
	<p>{{ lang }}</p>

	<form method="POST">
		{{ name_form.hidden_tag() }}
		{{ name_form.name.label(class="form-label") }} {{ name_form.name(class="form-control") }}
		{{ name_form.update }}
	</form>

	<form method="POST">
		{{ button_delete.hidden_tag() }}
		<div class="d-grid gap-2">
			{{ button_delete.delete(class="btn btn-danger") }}
		</div>
	</form>

	<h3>Courses:</h3>
	<div class="list-group">
		{% for course in courses %}
			<a href="{{ url_for('structure.course', course_id=course.id) }}"
			   class="list-group-item list-group-item-action">{{ course }}</a>
		{% endfor %}
	</div>
	<br>

	<form method="POST">
		{{ button_add.hidden_tag() }}
		<div class="d-grid gap-2">
			{{ button_add.add(class="btn btn-primary") }}
		</div>
	</form>



{% endblock %}