{% extends 'base.html' %}
{% block title %}
	lesson
{% endblock %}

{% block content %}

	<h1 class="display-5 fw-bold">Lesson</h1>
	<p>{{ lesson }}</p>

	<form method="POST">
		{{ button_delete.hidden_tag() }}
		<div class="d-grid">
			{{ button_delete.delete(class="btn btn_del") }}
		</div>
	</form>

	<p class="display-6"> Tasks:</p>
	<div id="sortableList" class="list-group">
{#	<div id="listWithHandle" class="list-group">#}
		{% for task in tasks %}
				{% if task.task_type_id in [1, 2, 3, 4, 5] %}
					<a href="{{ url_for('structure.task', task_id=task.id) }}"
					   class="list-group-item list-group-item-action list-group-item-warning">{{ task }}</a>
				{% endif %}

				{% if task.task_type_id in [6, 7, 8, 9, 10, 11, 12, 13, 14] %}
					<a href="{{ url_for('structure.task', task_id=task.id) }}"
					   class="list-group-item list-group-item-action list-group-item-danger">{{ task }}</a>
				{% endif %}

				{% if task.task_type_id in [15, 16, 17, 18] %}
					<a href="{{ url_for('structure.task', task_id=task.id) }}"
					   class="list-group-item list-group-item-action list-group-item-primary">{{ task }}</a>
				{% endif %}
		{% endfor %}
	</div>
	<br>

	<div>
		<form method="POST">
			{{ select_type_form.hidden_tag() }}
			{{ select_type_form.type(class="form-select") }}
			<div class="d-grid">
				{{ select_type_form.add(class="btn btn_add") }}
			</div>
		</form>
	</div>


{% endblock %}
