{% extends 'base.html' %}
{% block title %}
lesson
{% endblock %}

{% block body_scripts %}
<!-- Latest Sortable -->
<script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>

{#sortableList#}
<script>
    Sortable.create(sortableList);
</script>
{% endblock %}

{% block content %}

<div class="header">
    <form method="POST">
        {{ back_btn.hidden_tag() }}
        <div class="back-btn-box">
            {{ back_btn.back(class="back-btn-small") }}
        </div>
    </form>
    <div class="header-text">
        <h1 class="display-5 fw-bold">Lesson</h1>
        <p>{{ lesson }}</p>
    </div>
</div>

<form method="POST">
    {{ button_delete.hidden_tag() }}
    <div class="d-grid">
        {{ button_delete.delete(class="btn btn_del") }}
    </div>
</form>

<p class="display-6"> Tasks:</p>
<div id="sortableList" class="list-group">
    <!--		<div id="listWithHandle" class="list-group">-->
    {% for task in tasks %}
    {% if task.task_type_id in [1, 2, 3, 4, 5] %}
    <a href="{{ url_for('structure.render_task', task_id=task.id) }}"
       class="list-group-item list-group-item-action words-task-type">{{ task }}</a>
    {% endif %}

    {% if task.task_type_id in [6, 7, 8, 9, 10, 11, 12, 13, 14] %}
    <a href="{{ url_for('structure.render_task', task_id=task.id) }}"
       class="list-group-item list-group-item-action sent-task-type">{{ task }}</a>
    {% endif %}
    {##}
    {% if task.task_type_id in [15, 16, 17, 18] %}
    <a href="{{ url_for('structure.render_task', task_id=task.id) }}"
       class="list-group-item list-group-item-action dialog-task-type">{{ task }}</a>
    {% endif %}
    {% if task.task_type_id in [19, 20, 21] %}
    <a href="{{ url_for('structure.render_task', task_id=task.id) }}"
       class="list-group-item list-group-item-action puzzle-task-type">{{ task }}</a>
    {% endif %}
    {% endfor %}
<!--</div>-->
</div>
<br>

<div>
    <form method="POST">
        {{ select_type_form.hidden_tag() }}
        {{ select_type_form.type(class="form-select") }}
        <div class="d-grid">
            {{ select_type_form.add(class="btn btn_add") }}
        </div>
    </form>
</div>


{% endblock %}
