{% extends 'base.html' %}

{% block content %}

	<h1>Lesson:</h1>
	<p>{{ lesson }}</p>

	<form method="POST">
		{{ button_delete.hidden_tag() }}
		<div class="d-grid gap-2">
			{{ button_delete.delete(class="btn btn-danger") }}
		</div>
	</form>

	<h3>Tasks:</h3>
	{% for task in tasks %}
		<ul>
			<li>
				<a href="{{ url_for('structure.task', task_id=task.id) }}">{{ task }}</a>
			</li>
		</ul>
	{% endfor %}


	<div>
		<form method="POST">
			{{ select_type_form.hidden_tag() }}
			{{ select_type_form.type(class="form-select") }}
			<div class="d-grid gap-2">
				{{ select_type_form.add(class="btn btn-primary") }}
			</div>
		</form>
	</div>


{% endblock %}