{% extends 'base.html' %}
{% block title %}
	structure
{% endblock %}

{% block content %}

	<h1>Structure:</h1>
	<br>
	<h3>Languages:</h3>
	<div class="list-group">
		{% for lang in langs %}
			<a href="{{ url_for('structure.lang', lang_id=lang.id) }}"
			   class="list-group-item list-group-item-action">{{ lang }}</a>
		{% endfor %}
	</div>
	<br>


	<form method="POST">
		{{ button_add.hidden_tag() }}
		<div class="d-grid gap-2">
			{{ button_add.add(class="btn btn-primary") }}
		</div>
	</form>

{% endblock %}