{% extends 'base.html' %}
{% block title %}
	structure
{% endblock %}

{% block content %}

	<h1 class="display-5 fw-bold">Structure</h1>
	<br>
	<p class="display-6"> Languages:</p>
	<div class="list-group">
		{% for lang in langs %}
			<a href="{{ url_for('structure.lang', lang_id=lang.id) }}"
			   class="list-group-item list-group-item-action">{{ lang }}</a>
		{% endfor %}
	</div>
	<br>

	<form method="POST">
		{{ button_add.hidden_tag() }}
		<div class="d-grid">
			{{ button_add.add(class="btn btn_add") }}
		</div>
	</form>

{% endblock %}