{% extends 'base.html' %}
{% block title %}
	topic
{% endblock %}

{% block content %}

	<h1>Topic:</h1>
	<p>{{ topic }}</p>

	<div align="center">
		<img src="{{ url_for(endpoint='static', filename='image/' + image_name) }}" class="rounded"
		     alt="ooops">
	</div>

	<form method="POST">
		{{ name_form.hidden_tag() }}
		{{ name_form.name.label(class="form-label") }} {{ name_form.name(class="form-control") }}
		{{ name_form.update }}
	</form>

	<form method="POST" enctype="multipart/form-data">
		{{ topic_pic_form.hidden_tag() }}
		{{ topic_pic_form.image.label(class="form-label") }} {{ topic_pic_form.image(class="form-control") }}
		{{ topic_pic_form.update }}
	</form>

	<form method="POST">
		{{ button_delete.hidden_tag() }}
		<div class="d-grid gap-2">
			{{ button_delete.delete(class="btn btn-danger") }}
		</div>
	</form>

	<h3>Lessons:</h3>
	<div class="list-group">
		{% for lesson in lessons %}
			<a href="{{ url_for('structure.lesson', lesson_id=lesson.id) }}"
			   class="list-group-item list-group-item-action">{{ lesson }}</a>
		{% endfor %}
	</div>
	<br>

	<form method="POST">
		{{ button_add.hidden_tag() }}
		<div class="d-grid gap-2">
			{{ button_add.add(class="btn btn-primary") }}
		</div>
	</form>


{% endblock %}