{% extends 'base.html' %}

{% block content %}

	<h1 class="display-5 fw-bold">Task</h1>
	<p>{{ task }}</p>

	<form method="POST">
		{{ button_delete.hidden_tag() }}
		<div class="d-grid">
			{{ button_delete.delete(class="btn btn_del") }}
		</div>
	</form>

	<p class="display-6">Words:</p>
	{% for word in words %}
		{% if word in active_words %}
			<div class="word-box-active">{{ word }} <h4>(active)</h4></div>
		{% else %}
			<div class="word-box">{{ word }}</div>
		{% endif %}

	{% endfor %}
	<br>

{% endblock %}
