{% extends 'base.html' %}

{% block title %}
	1_word_image
{% endblock %}

{% block head_scripts %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

{% endblock %}

{% block body_scripts %}
	<script>
        $(document).ready(function () {
            $('.toggle').click(function () {
                var current_status = $('.status').text();
                $.ajax({
                    url: "/structure/get_toggled_status",
                    type: "get",
                    data: {status: current_status},
                    success: function (response) {
                        $(".status").html(response);
                    },
                    error: function (xhr) {
                        //Do Something to handle error
                    }
                });
            });
        });
	</script>
{% endblock %}


{% block content %}



	<h1 class="display-5 fw-bold">Task</h1>
	<p>{{ task }}</p>

	<form method="POST">
		{{ button_delete.hidden_tag() }}
		<div class="d-grid">
			{{ button_delete.delete(class="btn btn_del") }}
		</div>
	</form>

	<p class="display-5">Task words:</p>

	<div class="task-words">


		{% for word in task_words %}
			<div class="task-word">
				{% if word.is_active %}

					<div class="task-word-box active-word">
						<div>
							<div class="cb_pinyin">{{ word.pinyin }}</div>
							<div class="cb_char">{{ word.char }}</div>
						</div>
					</div>

					{#					<input type="checkbox" class='toggle' checked data-toggle="toggle">#}
					{#					<div class='status'>Toggled</div>#}

					<div class="form-check form-switch">
						<form id="form-{{ word.id }}" method="POST">
							<input class="form-check-input" id="active" type="checkbox"
							       onchange="$('#form-{{ word.id }}').submit();" name="act-word-checkbox"
							       value="{{ word.id }}" checked/>
							<label class="form-check-label" for="active">Active</label>
						</form>
					</div>

				{% else %}
					<div class="task-word-box inactive-word">
						<div>
							<div class="ib_pinyin">{{ word.pinyin }}</div>
							<div class="ib_char">{{ word.char }}</div>
						</div>
					</div>

{#					<input type="checkbox" class='toggle' data-toggle="toggle">#}
{#					<div class='status'>Toggled</div>#}

					<div class="form-check form-switch">
						<form id="form-{{ word.id }}" method="POST">
							<input class="form-check-input" id="active" type="checkbox"
							       onchange="$('#form-{{ word.id }}').submit();"
							       name="act-word-checkbox"
							       value="{{ word.id }}"/>
							<label class="form-check-label" for="active">Active</label>
						</form>
					</div>

				{% endif %}


				{#				<div class="form-check form-switch">#}
				{#					<input class="form-check-input" type="checkbox" id="active" name="activate" value="{{ word.id }}">#}
				{#					<label class="form-check-label" for="active">Active</label>#}
				{#				</div>#}


				{#				<a class="add_to_task_act_elem"#}
				{#				   href="{{ url_for('structure.add_to_task_act_elem', task_id=task.id, element_type="word", element_id=word.id) }}">#}
				{#					act#}
				{#				</a>#}

				{#				<a class="remove_act_elem"#}
				{#				   href="{{ url_for('structure.remove_act_elem', task_id=task.id, element_type="word", element_id=word.id) }}">#}
				{#					dct#}
				{#				</a>#}
			</div>
		{% endfor %}
		<br>
	</div>

	<p class="display-6">Active elements:</p>

	{% for word in task_words %}
		{% if word.is_active %}

			<div class="task-word-box">
				<div>
					<div class="cb_pinyin">{{ word.pinyin }}</div>
					<div class="cb_char">{{ word.char }}</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}


	<div class="search_words">
		<p class="display-6">Search words</p>

		<form class="d-flex nav-item my-lg-0" method="GET">
			<input class="form-control me-2" type="search" placeholder="Search" name="search_key">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>

		{% for word in words %}
			<div class="list-group">
				<a href="{{ url_for('structure.add_to_task_word', task_id=task.id, word_id=word.id) }}"
				   class="list-group-item list-group-item-action ">{{ word }}</a>
			</div>
		{% endfor %}
		<br>

		<form method="POST">
			{{ button_add.hidden_tag() }}
			<div class="d-grid">
				{{ button_add.add(class="btn btn_add") }}
			</div>
		</form>
	</div>


{% endblock %}
