{% extends 'base.html' %}

{% block content %}

	<h1>Task:</h1>
	<h2>{{ task_type_name }}</h2>
	<p>{{ task }}</p>

	<div>
		<form method="POST">
			{{ button_delete.hidden_tag() }}
			{{ button_delete.delete }}
		</form>
	</div>
	<br>


	<h3>Elements:</h3>
	{% for element in elements %}

		<ul>
			<li>
				{{ element }}
			</li>
		</ul>

	{% endfor %}
	<br>

	<h3>Right sentences:</h3>
	{% for sent in right_sentences %}

		<ul>
			<li>
				{{ sent }}
			</li>
		</ul>

	{% endfor %}
	<br>

	<h3>Wrong sentences:</h3>
	{% for sent in wrong_sentences %}

		<ul>
			<li>
				{{ sent }}
			</li>
		</ul>

	{% endfor %}
	<br>

	<h3>Media:</h3>
	{% for file in media %}

		<ul>
			<li>
				{{ file }}
			</li>
		</ul>

	{% endfor %}
	<br>

{% endblock %}
